<footer class="footer border-top bg-body-light">
    <div class="f-info">
        <div class="f-info-left">
            <div>&copy; 2025 Lodgr, Inc.</div>
            <div class="f-info-links">
                <span>.</span>
                <a href="/privacy">Privacy</a>
                <span>.</span>
                <a href="/terms">Terms</a>
            </div>
        </div>
        <div class="f-info-socials">
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-twitter"></i>
            <i class="fa-brands fa-linkedin"></i>
        </div>
    </div>
</footer>
