<footer class="footer border-top bg-body-light">
	<div class="f-info">
		<div class="f-info-left">
			<div>&copy; 2025 Lodgr, Inc.</div>
			<div class="f-info-links">
				<span>.</span>
				<a href="/privacy">Privacy</a>
				<span>.</span>
				<a href="/terms">Terms</a>
			</div>
		</div>
		<div class="f-info-socials">
			<a href="https://github.com/git-raghav" target="_blank" rel="noopener noreferrer">
				<i class="fa-brands fa-github"></i>
			</a>
			<a href="https://x.com/raghavsayshii/" target="_blank" rel="noopener noreferrer">
				<i class="fa-brands fa-x-twitter"></i>
			</a>
			<a href="https://www.instagram.com/raghavsayshii/" target="_blank" rel="noopener noreferrer">
				<i class="fa-brands fa-instagram"></i>
			</a>
			<a href="https://www.linkedin.com/in/raghav-agarwal-5a7702293/" target="_blank" rel="noopener noreferrer">
				<i class="fa-brands fa-linkedin"></i>
			</a>
		</div>
	</div>
</footer>
