<% layout("/layouts/boilerplate") %>

<h3><b>All Listings</b></h3>
<div class="row row-cols-lg-4 row-cols-md-3 row-cols-sm-2 row-cols-1 g-4">
	<% for(let listing of allListings) { %>
	<a href="/listings/<%= listing._id %>" class="listing-link">
	    <div class="card col">
    		<img src="<%= listing.image %>" class="card-img-top" alt="Property Image" style="height: 12rem" />
    		<div class="card-body">
    			<p class="card-text">
    				<b><%= listing.title %></b> <br />
    				&#8377;<%= listing.price.toLocaleString("en-IN") %> per night
    			</p>
    		</div>
    	</div>
	</a>
	<% } %>
</div>
