<% layout("/layouts/boilerplate") %>

<div id="filters" class="mb-3">
	<div id="filter">
		<div><i class="fa-solid fa-fire"></i></div>
		<p>Trending</p>
	</div>
	<div id="filter">
		<div><i class="fa-solid fa-person-swimming"></i></div>
		<p>Amazing Pools</p>
	</div>
	<div id="filter">
		<div><i class="fa-solid fa-mountain-sun"></i></div>
		<p>Mountains</p>
	</div>
	<div id="filter">
		<div><i class="fa-solid fa-umbrella-beach"></i></div>
		<p>Beachfront</p>
	</div>
	<div id="filter">
		<div><i class="fa-solid fa-tents"></i></div>
		<p>Camping</p>
	</div>
	<div id="filter">
		<div><i class="fa-solid fa-snowflake"></i></div>
		<p>Arctic</p>
	</div>
	<div id="filter">
		<div><i class="fa-solid fa-water"></i></div>
		<p>Lakefront</p>
	</div>
	<div id="filter">
		<div><i class="fa-solid fa-house"></i></div>
		<p>Villa</p>
	</div>
	<div id="filter">
		<div><i class="fa-solid fa-star"></i></div>
		<p>Stargazing</p>
	</div>
	<div id="filter">
		<div><i class="fa-solid fa-tree"></i></div>
		<p>Treehouse</p>
	</div>
	<div id="filter">
		<div><i class="fa-solid fa-person-skiing"></i></div>
		<p>Skiing</p>
	</div>
	<div id="filter">
		<div><i class="fa-solid fa-champagne-glasses"></i></div>
		<p>Party</p>
	</div>
	<div class="tax-toggle">
		<div class="form-check-reverse form-switch tax-content">
			<input class="form-check-input" type="checkbox" role="switch" id="switchCheckDefault" />
			<label class="form-check-label switch" for="switchCheckDefault">Display total after taxes</label>
		</div>
	</div>
</div>
<div class="row row-cols-lg-4 row-cols-md-3 row-cols-sm-2 row-cols-1 g-4">
	<% for(let listing of allListings) { %>
	<a href="/listings/<%= listing._id %>" class="listing-link">
		<div class="card col">
			<img src="<%= listing.image.url %>" class="card-img-top" alt="Property Image" style="height: 12rem" />
			<div class="card-body">
				<p class="card-text">
					<b><%= listing.title %></b> <br />
					&#8377;<%= listing.price.toLocaleString("en-IN") %> per night <i class="tax-info">+ 18% GST</i>
				</p>
			</div>
		</div>
	</a>
	<% } %>
</div>
