<% layout("/layouts/boilerplate") %>

<div class="d-flex align-items-center" style="min-height: calc(100vh - 220px);">
	<div class="row">
		<div class="col-md-7 d-flex justify-content-center mb-5">
			<img src="./assets/palm-home.jpg" alt="Cozy home illustration" class="animated-image" style="max-width: 100%; height: auto" />
		</div>
		<div class="col-md-5 d-flex flex-column justify-content-center mb-5">
			<h3><b>Sign up</b></h3>
			<form action="/signup" method="POST" class="new-form needs-validation" novalidate>
				<div class="mb-3">
					<label for="email" class="form-label">Email:</label>
					<div class="input-group has-validation">
                        <span class="input-group-text"><i class="fa-solid fa-envelope"></i></span>
					    <input
    						type="email"
    						id="email"
    						name="email"
    						placeholder="Enter your email address."
    						class="form-control"
    						required
    						minlength="5"
    						maxlength="100"
    					/>
                        <div class="valid-feedback">Looks good!</div>
					    <div class="invalid-feedback">Please enter a valid email.</div>
					</div>
				</div>
				<div class="mb-3">
					<label for="username" class="form-label">Username:</label>
					<div class="input-group  has-validation">
                        <span class="input-group-text"><i class="fa-solid fa-user"></i></span>
					    <input
    						type="text"
    						id="username"
    						name="username"
    						placeholder="Enter your username."
    						class="form-control"
    						required
    						minlength="3"
    						maxlength="30"
    						pattern="^[a-zA-Z0-9_]+$"
    					/>
                        <div class="valid-feedback">Looks good!</div>
                        <div class="invalid-feedback">Username can only contain letters, numbers, and underscores (e.g. username_123)</div>
					</div>
				</div>
				<div class="mb-3">
					<label for="password" class="form-label">Password:</label>
					<div class="input-group  has-validation">
                        <span class="input-group-text"><i class="fa-solid fa-key"></i></span>
					    <input
    						type="password"
    						id="password"
    						name="password"
    						placeholder="Enter your password."
    						class="form-control"
    						required
    						minlength="8"
    						maxlength="100"
    						pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[\W_]).{8,}$"
    						title="Password must be at least 8 characters long, and include uppercase, lowercase, number, and special character."
    					/>
    					<div class="valid-feedback">Looks good!</div>
    					<div class="invalid-feedback">
    						Password must be at least 8 characters long, and include uppercase, lowercase, number, and special character.
    					</div>
					</div>
				</div>
				<button type="submit" class="btn btn-dark"><i class="fa-solid fa-user-plus me-2"></i>Sign up</button>
			</form>
		</div>
	</div>
</div>
